body{        
  padding-top: 60px;
  padding-bottom: 40px;
}
img{
  width: 100%;
}

@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}    
/* Some more styles to beutify this example */
  nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.hero-image {
  background:url(../Images/flower.jpg) no-repeat;
  width: 500vw;
  height:100vh;
  color:purple;
  font-size: 100px;


}
 

body{
  background-image:url(../Images/flower.jpg);
}

.flex-container {
  display: flex;

  margin-top:100px;
}

.flex-container > div {
  background-image:url(../Images/flower.jpg);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  color:white;

;
}
h2{
  color:rgb(30, 30, 180);
}
.intro{
  color:white;
  font-size: 40px;
  font-family: cursive;
  margin-top:200px;
  padding-left: 20px;

}

.btn {
  background-color:white;
  border: none;
  color:black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:gray;
}

footer{
  margin-top:10px;
  margin-left:80%;
}